<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-2">
      <%= render "devise/shared/error_messages", resource: resource %>
      <h2 style="margin:30px 0 0 0;">ユーザー登録</h2>
    </div>
  </div>

  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    
    <div class="row">
      <div class="col-lg-2 offset-lg-2">
        <%= f.label :ニックネーム, class:"label_name" %>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <%= f.text_field :nick_name, autofocus: true, class:"input_name"%>     
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-2 offset-lg-2">
        <%= f.label :メールアドレス, class:"label_signup_email" %>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input_signup_email" %>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-3 offset-lg-2">
        <%= f.label :password, class:"label_signup_password"%>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
      <div class="col-lg-5">
        <%= f.password_field :password, autocomplete: "new-password", class:"input_signup_password" %>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-3 offset-lg-2">
        <%= f.label :password_confirmation, class:"label_signup_password"%>
      </div>
      <div class="col-lg-5">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input_signup_password" %>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <%= f.submit "登録",class:"btn btn-warning btn-lg btn-block btn_login" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-3 offset-lg-9">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>