<div class='container'>
  
  <div class="row" style="margin:30px 50px 40px 20px">
    <div class="col-lg-4 offset-lg-3 heading">
      <h3 style="text-align: center;">譲渡グッズ　編集</h3>
    </div>
  </div>
  
  <%= form_with model:@bartered_item, local:true do |f| %>
  <div class='row'>
    <div class="col-lg-2 heading">画像アップロード</div>
    <div class="col-lg-2">
      <div class="form-group">
        <%= f.attachment_field :bartered_item_images_images, multiple: true %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="offset-lg-2 col-lg-10 form-group">
      (画像を複数選択するには「shift + クリック」または「ctrl + クリック」)
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-2 heading">タイトル</div>
    <div class="col-lg-7">
      <div class="form-group">
        <%= f.text_area :title, class:"form-control",id:"input_title" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 heading">譲渡グッズ詳細</div>
    <div class="col-lg-7">
      <div class="form-group">
        <%= f.text_area :explanation, class:"form-control", id:"input_explanation"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 heading">交換方法</div>
    <div class="col-lg-4">
      <div class="form-group">
        <div class="barter-way"><%= f.radio_button :barter_way, :郵送のみ %></div>
        <div class="barter-way"><%= f.label :barter_way, '郵送のみ' %></div>
        <div class="barter-way"><%= f.radio_button :barter_way, :手渡しのみ %></div>
        <div class="barter-way"><%= f.label :barter_way, '手渡しのみ' %></div>
        <div class="barter-way"><%= f.radio_button :barter_way, :郵送・手渡し両方可%></div>
        <div class="barter-way"><%= f.label :barter_way, '郵送・手渡し両方可' %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 heading">交換希望場所</div>
    <div class="col-lg-4">
      <div>
        <%= f.select :desired_place, BarteredItem.desired_places.keys, {} %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2 heading">お探しアイテム（１）</div>
    <div class="col-lg-4">
      <div>
		    <%= f.select :no1_wanted_item_id, options_from_collection_for_select(current_user.wanted_items, :id, :title, @bartered_item.no1_wanted_item_id), prompt: "お探しアイテムから選択してください" %>
		  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 heading">お探しアイテム（２）</div>
    <div class="col-lg-4">
      <div>
		    <%= f.select :no2_wanted_item_id, options_from_collection_for_select(current_user.wanted_items, :id, :title, @bartered_item.no2_wanted_item_id), prompt: "お探しアイテムから選択してください" %>
		  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 heading">お探しアイテム（３）</div>
    <div class="col-lg-4">
      <div>
		    <%= f.select :no3_wanted_item_id, options_from_collection_for_select(current_user.wanted_items, :id, :title, @bartered_item.no3_wanted_item_id), prompt: "お探しアイテムから選択してください" %>
		  </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2 heading">取引状態</div>
    <div class="col-lg-4">
      <div>
        <%= f.select :barter_status, BarteredItem.barter_statuses.keys, {} %>
      </div>
    </div>
  </div>
  <div class="row" style="margin:30px 10px 0px 10px">
    <div class="col-lg-2 offset-lg-3 heading">    
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit "更新",class:"btn btn-warning" %>
      <% end %>
    </div>
    <div class="col-lg-2 heading">
        <%= link_to "削除", barter_delete_path,method: :patch,"data-confirm" => "削除しますか", class: "btn btn-danger" %>
    </div>
  </div>
</div>
