<div class="container">
  <% if @keyword %>
    <h3><%= "検索結果：#{@keyword}" %></h3>
  <% else %>
    <h3>譲渡グッズ　一覧</h3>
  <% end %>
  <div class="row">
    <% if @bartered_items.present? %>
      <% @bartered_items.each do |bartered_item| %>
        <div class="col-lg-3 index-item">
          <table class="table table-bordered item-table">
            <tr>
              <td class="text-center">
                <%= link_to bartered_item_path(bartered_item.id) do %>
                  <% if bartered_item.bartered_item_images.present? %>
                    <% bartered_item.bartered_item_images.first(1).each do |image| %>
                      <%= attachment_image_tag image, :image, :fill, 200, 200, fallback: image_url("no_image.jpg")%>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                出品者:<%= link_to user_path(bartered_item.user) do %><%= bartered_item.user.nick_name %><% end %>
              </td>
            </tr>          
            <tr>
              <td>
                <%= link_to bartered_item_path(bartered_item.id) do %>
                  <%= truncate(bartered_item.title, length: 29) %>
                <% end %>
                <span  id="bartered_item-<%= bartered_item.id %>">
                  <%= render "bookmark", bartered_item: bartered_item %>
                </span>
              </td>
            </tr>
          </table> 
        </div>
      <% end %>
    <% else %>
      <div class="col-lg-4">該当するグッズはありません</div>
    <% end %>
  </div>
</div>
