<div class='container'>
  
  <div class="row" style="margin:30px 50px 40px 20px">
    <div class="col-lg-4 offset-lg-3">
      <h3 style="text-align: center;">譲渡グッズ 新規追加</h3>
    </div>
  </div>
  
  <%= form_with model:@bartered_item, local:true do |f| %>
  <div class='row'>
    <div class="col-lg-2">画像アップロード</div>
    <div class="col-lg-2">
      <div class="form-group">
        <%= f.attachment_field :bartered_item_images_images, multiple: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">タイトル</div>
    <div class="col-lg-7">
      <div class="form-group">
        <%= f.text_area :title, class:"form-control",id:"input_title" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">譲渡グッズ詳細</div>
    <div class="col-lg-7">
      <div class="form-group">
        <%= f.text_area :explanation, class:"form-control", id:"input_explanation"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">交換方法</div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.radio_button :barter_way, :郵送のみ %>
        <%= f.label :barter_way, '郵送のみ' %>
        <%= f.radio_button :barter_way, :手渡しのみ %>
        <%= f.label :barter_way, '手渡しのみ' %>
        <%= f.radio_button :barter_way, :郵送・手渡し両方可%>
        <%= f.label :barter_way, '郵送・手渡し両方可' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">交換希望場所</div>
    <div class="col-lg-4">
      <div>
        <%= f.select :desired_place, BarteredItem.desired_places.keys, {} %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2">お探しアイテム（１）</div>
    <div class="col-lg-4">
      <div>
		    <%= f.select :no1_wanted_item_id, options_from_collection_for_select(current_user.wanted_items, :id, :title), prompt: "お探しアイテムから選択してください" %>
		  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">お探しアイテム（２）</div>
    <div class="col-lg-4">
      <div>
		    <%= f.select :no2_wanted_item_id, options_from_collection_for_select(current_user.wanted_items, :id, :title), prompt: "お探しアイテムから選択してください" %>
		  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">お探しアイテム（３）</div>
    <div class="col-lg-4">
      <div>
		    <%= f.select :no3_wanted_item_id, options_from_collection_for_select(current_user.wanted_items, :id, :title), prompt: "お探しアイテムから選択してください" %>
		  </div>
    </div>
  </div>
  <div class="row" style="margin:30px 10px 0px 10px">
    <div class="col-lg-4 offset-lg-3">    
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit "作成",class:"btn btn-warning btn-lg btn-block"%>
      <% end %>
    </div>
  </div>
</div>

