<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
        <% if @bartered_item.bartered_item_images.present? %>
          <span class="slider">
            <% @bartered_item.bartered_item_images.each do |image| %>
              <span><%= attachment_image_tag image, :image, class: "img-fluid", fallback: image_url("no_image.jpg") %></span>
            <% end %>
          </span>
        <% else %>
            <span><%= attachment_image_tag @bartered_item.bartered_item_images.first, :image, class: "img-fluid", fallback: image_url("no_image.jpg") %></span>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 item-show">
      <span>
        譲渡アイテム　詳細
      </span>
      <span id="bartered_item-<%= @bartered_item.id %>" >
        <%= render "bookmark", bartered_item: @bartered_item %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
    <span>
      出品者：<%= link_to user_path(@bartered_item.user) do %><%= "#{@bartered_item.user.nick_name}さん" %><% end %>
    </span>
    <% if user_signed_in? %>
      <% unless current_user == @user %>
        <span id="user-<%= @user.id %>">
          <%= render "users/follow", user: @user %>
        </span>
        <span style="display: inline-block;">
          <% if @isRoom == true %>
            <%= link_to room_path(@roomID) do%>
              <i class="fas fa-envelope fa-lg"></i>
            <% end %>
          <% else %>
            <%= form_with model:@room, local:true do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.button :type => "submit", style: 'border-style: none; background: none;' do %>
                <i class="far fa-envelope fa-lg"></i>
              <% end %>
            <% end %>
          <% end %>
        </span>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <th class="align-middle", style="width: 144px"><div class="text-center">タイトル</div></th>
          <th><div class="text-left"><%= @bartered_item.title %></div></th>
        </tr>
        <tr>
          <th class="align-middle"><div class="text-center">説明</div></th>
          <th><%= @bartered_item.explanation%></th>
        </tr>
        <tr>
          <th><div class="text-center">希望交換方法</div></th>
          <th><%= @bartered_item.barter_way %></th>
        </tr>
        <tr>
          <th><div class="text-center">希望交換場所</div></th>
          <th><%= @bartered_item.desired_place %></th>
        </tr>
        <tr>
          <th><div class="text-center">取引状態</div></th>
          <th><%= @bartered_item.barter_status %></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-lg-12">
       <h5><%= "#{@bartered_item.user.nick_name}さんの現在探し中グッズベスト3" %></h5>
    </div>
  </div>



    <div class="row border border-secondary rounded mypage-row">
    <% @wanted_items.each do |item| %>
      <div class="col-lg-4">
        <table class="table table-bordered item-table">
          <tr>
            <td class="text-center">
              <%= link_to wanted_item_path(item) do %>
                <% if item.wanted_item_images.present? %>
                  <% item.wanted_item_images.first(1).each do |image| %>
                    <%= attachment_image_tag image, :image, :fill, 200, 200, class: "img-fluid",fallback: image_url("no_image.jpg") %>
                  <% end %>
                <% else %>
                  <%= attachment_image_tag item.wanted_item_images.first, :image, :fill, 200, 200, class: "img-fluid",fallback: image_url("no_image.jpg") %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to wanted_item_path(item) do %>
                <%= truncate(item.title, length: 29) %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
    <div class="col-lg-3 offset-lg-9">
      <div class="text-right">
        <%= link_to "欲しいモノリスト一覧へ", wants_path(@bartered_item.user),class: "btn btn-light"%>
      </div>
    </div>
  </div>

  <% if current_user == @user %>
    <div class="row">
      <div class="col-lg-1 offset-lg-11">
        <div class="edit-button text-right">
          <%= link_to "編集", edit_bartered_item_path, class: "btn btn-warning" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row comment-counts">
    <div>
      <i class="fas fa-comments fa-lg", id="comment-counts-<%= @bartered_item.id %>">コメント：<%= @bartered_item.bartered_item_comments.count %>件</i>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="row">
      <div class="col-lg-12">
        <%= form_with(model:[@bartered_item,@bartered_item_comment]) do |f| %>
          <div class="form-group-comment">
            <%= f.text_area :comment, class:"form-control" ,placeholder:"コメント", id:"input_comment" %>
            <div class="text-right">
              <%= f.button :type => "submit", style: 'border-style: none; background-color: rgb( 255, 191, 0);border-radius: 0.80rem;' do %>
                <i class="fas fa-paper-plane fa-lg"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>ログイン後、コメントできます</p>
  <% end %>

  <div class="comments">
    <%= render "bartered_item_comments/comment", bartered_item: @bartered_item %>
  </div>

</div>

<script>
  $(document).on('turbolinks:load', function() {
    $(function() {
        $('.slider').slick({
        arrows: false,
        dots: true,
        });
        $('.slick-dots li').on('mouseover', function() {
        $('.slider').slick('goTo', $(this).index());
        });
    });
  });
</script>