<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div>
        <div class="main">
            <% @bartered_item.bartered_item_images.each do |image| %>
              <div>
                <%= attachment_image_tag image, :image, class: "img-fluid", fallback: image_url("no_image.jpg")%>
              </div>
            <% end %>
        </div>
      </div>  
    </div>
  </div> 
  
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="nav">
        <% if @bartered_item.bartered_item_images.present? %>
          <% @bartered_item.bartered_item_images.each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 50, 50, class: "default_image" %>
          <% end %>
        <% else %>
          画像はありません。
        <% end %>
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="col-lg-6 item-show">
      <span>
        譲渡アイテム　詳細
      </span>
      <span>
        <% if @bartered_item.bookmarked_by?(current_user) %>
          <%= link_to bartered_item_bookmarks_path(@bartered_item), method: :delete do %>
            <i class="fas fa-bookmark fa-lg"></i>
          <% end %>
        <% else %>
          <%= link_to bartered_item_bookmarks_path(@bartered_item), method: :post do %>
            <i class="far fa-bookmark fa-lg"></i>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
  
  <div class="row">
        <span>
          出品者：<%= link_to user_path(@bartered_item.user) do %><%= "#{@bartered_item.user.nick_name}さん" %><% end %>
        </span>
        <% unless current_user == @user %>
          <span>
            <% if current_user.following?(@bartered_item.user) %>
              <%= link_to user_relationships_path(@bartered_item.user.id), method: :delete do %>
                <i class="fas fa-user-check fa-lg"></i>
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(@bartered_item.user.id), method: :post do %>
                <i class="far fa-user fa-lg"></i>
              <% end %>
            <% end %>
          </span>
          <span>
            <% if @isRoom == true %>
              <%= link_to room_path(@roomID) do%>
                <i class="fas fa-envelope fa-lg"></i>
              <% end %>
            <% else %>
              <%= form_with model:@room, local:true do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.button :type => "submit", style: 'border-style: none; background: none;' do %>
                  <i class="far fa-envelope fa-lg"></i>
                <% end %>
              <% end %>
            <% end %>
          </span>
        <% end %>
  </div>
  
  
  <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <th class="align-middle", style="width: 144px"><div class="text-center">タイトル</div></th>
          <th><div class="text-left"><%= @bartered_item.title %></div></th>
        </tr>
        <tr>
          <th class="align-middle"><div class="text-center">説明</div></th>
          <th><%= @bartered_item.explanation%></th>
        </tr>
        <tr>
          <th><div class="text-center">希望交換方法</div></th>
          <th><%= @bartered_item.barter_way %></th>
        </tr>
        <tr>
          <th><div class="text-center">希望交換場所</div></th>
          <th><%= @bartered_item.desired_place %></th>
        </tr>
        <tr>
          <th><div class="text-center">取引状態</div></th>
          <th><%= @bartered_item.barter_status %></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-lg-12">
       <h5><%= "#{@bartered_item.user.nick_name}さんの現在探し中グッズベスト3" %></h5>
    </div>
  </div>
  <div class="row">
    <% @wanted_items.each do |item| %>
      <div class="col-lg-3 offset-1">
        <div class="text-center">
          <% item.wanted_item_images.last(1).each do |image| %>
              <%= link_to wanted_item_path(item.id) do %>
                <%= attachment_image_tag image, :image, :fill, 180, 180, class: "default_image", fallback: image_url("no_image.jpg") %>
              <% end %>
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to wanted_item_path(item.id) do %><%= "#{item.title}" %><% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-3 offset-lg-9">
      <div class="edit-button text-right">
        <%= link_to "欲しいモノリスト一覧へ", wants_path(@bartered_item.user) %>
      </div>
    </div>
  </div>
    
  <% if current_user == @user %>  
    <div class="row">
      <div class="col-lg-1 offset-lg-11">
        <div class="edit-button text-right">
          <%= link_to "編集", edit_bartered_item_path, class: "btn btn-warning" %>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="row comment-counts">
    <div class="col-lg-4">
      <h5><i class="fas fa-comments"></i>コメント：<%= @bartered_item.bartered_item_comments.count %>件</h5>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <%= form_with(model:[@bartered_item,@bartered_item_comment],local: true) do |f| %>
        <div class="form-group-comment">
          <%= f.text_area :comment, class:"form-control" ,placeholder:"コメント", id:"input_comment" %>
          <div class="text-right">
            <%= f.button :type => "submit", style: 'border-style: none; background: none;' do %>
              <i class="fas fa-paper-plane fa-lg"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="comments">
    <% @bartered_item.bartered_item_comments.each do |item_comment| %>
      <div class="row comment-list">
        <div class="col-lg-12">
          <%= link_to user_path(item_comment.user) do %><%= "#{item_comment.user.nick_name}さん" %><% end %>
          <%= item_comment.created_at.strftime("%Y年%m月%d日 %H:%M") %>
        </div>
        <div class="col-lg-1">
          <%= link_to user_path(item_comment.user) do %>
              <%= attachment_image_tag item_comment.user, :image, class: "img-fluid", fallback: image_url("no_user_image.jpg") %>
          <% end %>
        </div>
        <div class="col-lg-10">
          <%= item_comment.comment %>
        </div>
        <div class="col-lg-1">
          <% if item_comment.user == current_user %>
            <%= link_to bartered_item_bartered_item_comment_path(item_comment.bartered_item,item_comment), method: :delete, "data-confirm" => "削除しますか", class: "btn btn-danger" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
