<h3>譲渡アイテム　詳細</h3>
<%= @bartered_item.user.nick_name %>
<br>
<% if current_user.following?(@bartered_item.user) %>
  <%= link_to "Unfollow", user_relationships_path(@bartered_item.user.id), method: :delete %>
<% else %>
  <%= link_to "Follow", user_relationships_path(@bartered_item.user.id), method: :post %>
<% end %>
<br>
<%= @bartered_item.title %>
<br>
<%= @bartered_item.explanation %>
<br>
<%= @bartered_item.barter_way %>
<br>
<%= @bartered_item.desired_place %>
<br>
<%= @bartered_item.barter_status %>
<br>
<% if @bartered_item.bookmarked_by?(current_user) %>
  <%= link_to "ブックマークを外す", bartered_item_bookmarks_path(@bartered_item), method: :delete %>
<% else %>
  <%= link_to "ブックマークする", bartered_item_bookmarks_path(@bartered_item), method: :post %>
<% end %>
<br>

<div class="main">
  <% if @bartered_item.bartered_item_images.present? %>
    <% @bartered_item.bartered_item_images.each do |image| %>
      <div>
        <%= attachment_image_tag image, :image, :fill, 200, 200, class: "default_image" %>
      </div>
    <% end %>
  <% else %>
    画像はありません。
  <% end %>
</div>

<div class="nav", style="width:15%">
  <% if @bartered_item.bartered_item_images.present? %>
    <% @bartered_item.bartered_item_images.each do |image| %>
      <div>
        <%= attachment_image_tag image, :image, :fill, 50, 50, class: "default_image" %>
      </div>
    <% end %>
  <% else %>
    画像はありません。
  <% end %>
</div>

<br>
<div class="col-lg-2">
    <%= link_to "編集する", edit_bartered_item_path, class: "btn btn-warning" %>
</div>

<div>
  <p>コメント件数：<%= @bartered_item.bartered_item_comments.count %></p>
  <% @bartered_item.bartered_item_comments.each do |item_comment| %>
    <%= item_comment.user.nick_name %>
    <%= item_comment.created_at.strftime('%Y%m%d') %><%= item_comment.comment %>
    <% if item_comment.user == current_user %>
      <div>
        <%= link_to "削除", bartered_item_bartered_item_comment_path(item_comment.bartered_item,item_comment), method: :delete %>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with(model:[@bartered_item,@bartered_item_comment],local: true) do |f| %>
    <%= f.text_area :comment,rows:'5',placeholder:"コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
  
  
  
</div>