<div class="container">
  <% if @bookmarks.present? %>
    <div class="row">
      <% @bookmarks.first(1).each do |bookmark| %>
        <h5 class="heading">
          <%= link_to user_path(bookmark.user) do %>
              <%= "#{bookmark.user.nick_name}" %>
            <% end %>さんのブックマーク一覧<%= "：#{@bookmarks.count}件" %>
        </h5>
      <% end %>
    </div>
    <div class="row">
      <% @bookmarks.each do |bookmark| %>
        <div class="col-lg-3 index-item">
          <table class="table table-bordered item-table">
            <tr>
              <td class="text-center">
                <%= link_to bartered_item_path(bookmark.bartered_item.id) do %>
                  <% if bookmark.bartered_item.bartered_item_images.present? %>
                    <% bookmark.bartered_item.bartered_item_images.first(1).each do |image| %>
                      <%= attachment_image_tag image, :image, :fill, 200, 200, fallback: image_url("no_image.jpg")%>
                    <% end %>
                  <% else %>
                    <%= attachment_image_tag bookmark.bartered_item.bartered_item_images.first, :image, class: "img-fluid", fallback: image_url("no_image.jpg")%>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                出品者:<%= link_to user_path(bookmark.bartered_item.user) do %><%= bookmark.bartered_item.user.nick_name %><% end %>
              </td>
            </tr>          
            <tr>
              <td>
                <%= link_to bartered_item_path(bookmark.bartered_item.id) do %>
                  <%= truncate(bookmark.bartered_item.title, length: 29) %>
                <% end %>
                <span class="bartered_item-<%= bookmark.bartered_item.id %>">
                  <%= render "bartered_items/bookmark", bartered_item: bookmark.bartered_item %>
                </span>
              </td>
            </tr>
            <% if bookmark.bartered_item.barter_status == "取引終了" %>
              <tr>
                <td class="trade-finish text-center"><%= bookmark.bartered_item.barter_status %></th>
              </tr>
            <% else %>
              <tr>
                <td class="trade-unfinish text-center"><%= bookmark.bartered_item.barter_status %></th>
              </tr>
            <% end %>
          </table> 
        </div>
      <% end %>
    </div>
    <%= paginate @bookmarks %>
  <% else %>
    <h5 class="heading">お探しグッズはありません</h5>
  <% end %>
</div>
