<div class='container'>
  
  <div class="row" style="margin:30px 50px 40px 20px">
    <div class="col-lg-4 offset-lg-3">
      <h3 style="background-color: #FFE28C;vertical-align: middle;text-align: center;">登録情報　編集</h3>
    </div>
  </div>
  
  <%= form_with model:@user, local:true do |f| %>
  <div class='row'>
    <div class="col-lg-2">画像アップロード</div>
    <div class="col-lg-4">
      <%= f.attachment_field :image, placeholder: "プロフィール画像" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2">ニックネーム</div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.text_field :nick_name, class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">自己紹介</div>
    <div class="col-lg-8">
      <div class="form-group">
        <%= f.text_area :introduction, class:"form-control", id:"input_introduction"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">交換方法</div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.radio_button :barter_way, :郵送のみ %>
        <%= f.label :barter_way, '郵送のみ' %>
        <%= f.radio_button :barter_way, :手渡しのみ %>
        <%= f.label :barter_way, '手渡しのみ' %>
        <%= f.radio_button :barter_way, :郵送・手渡し両方可%>
        <%= f.label :barter_way, '郵送・手渡し両方可' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">交換希望場所</div>
    <div class="col-lg-4">
      <div>
        <%= f.select :desired_place, User.desired_places.keys, {} %>
      </div>
    </div>
  </div>
  <br>

  <div class="row" style="margin:30px 10px 0px 10px">
    <div class="col-lg-2 offset-lg-3">    
      <%= f.submit "更新",class:"btn btn-warning" %>
      <% end %>
    </div>
    <div class="col-lg-2">
        <%= link_to "退会する", confirm_path(@user), class: "btn btn-danger" %>
    </div>
  </div>
</div>
