<div class="container">
  <div class="row">
    <% unless @user == current_user %>
      <% if @isRoom == true %>
        <%= link_to "チャットへ", room_path(@roomID), class:"btn btn-primary" %>
      <% else %>
        <%= form_with model:@room, local:true do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "チャットを始める", class:"btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div>
      <% if @user.image.present? %>
        <%= attachment_image_tag @user, :image, class: "default_image" %>
      <% else %>
        画像はありません。
      <% end %>
    </div>
    <div><%= "#{@user.nick_name}" %></div>
    <div><%= "#{@user.barter_way}" %></div>
    <div><%= "#{@user.desired_place}" %></div>
    <div><%= "#{@user.introduction}" %></div>
  </div>
  <div><%= link_to "編集", edit_user_path(@user) %></div>  
  <h4>譲渡アイテム</h4>
  <div class="row">
    <div>
      <% @user.bartered_items.last(5).each do |item| %>
        <% if item.is_deleted == false %>
          <%= link_to bartered_item_path(item) do %>
            <% item.bartered_item_images.first(1).each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 100, 100, class: "default_image" %>
            <% end %>
            <%= "#{item.title}" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div><%= link_to "一覧へ", barters_path(@user) %></div>
  <br>
  <h4>お探しアイテム</h4>
  <div class="row">
    <div>
      <% @user.wanted_items.last(5).each do |item| %>
        <%= link_to wanted_item_path(item) do %>
          <% item.wanted_item_images.first(1).each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 100, 100, class: "default_image" %>
          <% end %>
          <%= "#{item.title}" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div><%= link_to "一覧へ", wants_path(@user) %></div>
  <br>
  <div><%= link_to "ブックマーク一覧", bookmarks_path(@user) %></div>
  <br>
  <div><%= link_to "DM一覧", rooms_path(@user) %></div>
</div>