<div class="container">
  <% @entries.each do |entry| %>
  　<% next if entry.user == current_user %>
    <h4><%= link_to "#{entry.user.nick_name}さん", user_path(entry.user) %>とのチャットルーム</h4>
  <% end %>

  <% if @messages.present? %>
    <% @messages.each do |message| %>
      <% if message.user == current_user %>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="chat-time text-right">
              <%= message.created_at.strftime("%Y-%m-%d %H:%M") %>
            </div>
          </div>
          <div class="col-lg-8 offset-lg-2">
            <div class="text-right">
              <div class="your-chat-content text-left">
                <%= message.content %>
              </div>
            </div>
          </div>
          <div class="col-lg-8 offset-lg-2">
            <div class="your-chat-delete text-right">
              <% if message.user_id == current_user.id %>
                <%= link_to "削除", message_path(message),"data-confirm" => "削除しますか？", method: :delete, class: "btn btn-danger btn-sm"%>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-lg-8 offset-lg-1">
            <div class="chat-time">
              <%= message.created_at.strftime("%Y-%m-%d %H:%M") %>
            </div>
          </div>
          <div class="col-lg-8 offset-lg-1">
            <div class="other-chat-content">
              <%= message.content %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-lg-12 ">
        <div class="other-chat-name">
          <h6>メッセージはありません</h6>
        </div>
      </div>
    </div>
  <% end %>
  
  <%= form_with model:@message, local:true do |f| %>
    <div class="row">
      <div class="col-lg-9 offset-lg-1">
        <div class="form-group">
          <%= f.text_area :content, class:"form-control", id: "input_message" %>
        </div>
      </div>
    </div>
    <%= f.hidden_field :room_id, value: @room.id %>
    <div class="row">
      <div class="col-lg-2 offset-lg-8">
        <div class="text-right">
          <%= f.submit "送信", class:"btn btn-warning" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
