<div class='container'>

  <% if @wanted_item.errors.any? %>
    <div id="error_explanation">
      <h3><%= @wanted_item.errors.count %>件のエラーがあります</h3>
      <ul>
        <% @wanted_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row" style="margin:30px 50px 40px 20px">
    <div class="col-lg-4 offset-lg-3">
      <h3 style="text-align: center;">お探しグッズ　新規追加</h3>
    </div>
  </div>
  
  <%= form_with model:@wanted_item, local:true do |f| %>
  <div class='row'>
    <div class="col-lg-2">画像アップロード</div>
    <div class="col-lg-2">
      <div class="form-group">
        <%= f.attachment_field :wanted_item_images_images, multiple: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">タイトル</div>
    <div class="col-lg-7">
      <div class="form-group">
        <%= f.text_area :title, class:"form-control",id:"input_title" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">お探しグッズ詳細</div>
    <div class="col-lg-7">
      <div class="form-group">
        <%= f.text_area :explanation, class:"form-control", id:"input_explanation"%>
      </div>
    </div>
  </div>
  <div class="row" style="margin:30px 10px 0px 10px">
    <div class="col-lg-4 offset-lg-3">    
      <%= f.submit "作成",class:"btn btn-warning btn-lg btn-block"%>
      <% end %>
    </div>
  </div>
</div>
