<!DOCTYPE html>
<html>
  <head>
    <title>PF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header style="background-color: #FFE28C;">
      <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="/"><span class="text-dark">BarterAnimeGoods</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item"><%= link_to "Mypage", user_path(current_user), class:"fas fa-user-circle text-dark" %></li>
                <li class="dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
                   グッズ一覧・追加
                  </a>
                  <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to "譲渡グッズ一覧", bartered_items_path, class:"dropdown-item" %>
                    <%= link_to "譲渡グッズ追加", new_bartered_item_path, class:"dropdown-item" %>
                    <%= link_to "お探しグッズ追加", new_wanted_item_path, class:"dropdown-item" %>
                  </div>
                </li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt text-dark"%></li>
                <li class="nav-item">
                  <%= form_with url: search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword, value: @keyword, class:"nav-search"%>
                    <%= f.button :type => "submit", style: 'border-style: none; background: none;' do %>
                      <i class="fas fa-search fa-lg"></i>
                    <% end %>
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class:"fas fa-user-plus text-dark"%>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class:"fas fa-sign-in-alt text-dark"%>
                </li>
                <li class="nav-item">
                  <%= link_to "譲渡グッズ一覧", bartered_items_path, class:"text-dark" %>
                </li>
                <li class="nav-item">
                  <%= form_with url: search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword, value: @keyword, class:"nav-search"%>
                    <%= f.button :type => "submit", style: 'border-style: none; background: none;' do %>
                      <i class="fas fa-search fa-lg"></i>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
      </nav>
    </header>
    <main>
      <p id="notice"><%= notice %></p>

      <%= yield %>

    </main>
    <footer class="text-dark pt-5 pb-4", style="background-color: #FFE28C;">
    </footer>
    
  </body>
</html>