<!DOCTYPE html>
<html>
  <head>
    <title>PF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <%= flash[:notice] %>
      <li>
        <%= link_to "一覧へ", bartered_items_path %>
      </li>
      <li>
        <%= link_to "譲渡アイテムを追加する", new_bartered_item_path %>
      </li>
      <li>
        <%= link_to "お探しアイテムを追加する", new_wanted_item_path %>
      </li>
      <div>
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
     <% if user_signed_in? %>
      <li>
        <%= link_to "マイページ", user_path(current_user) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "トップへ", root_path %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <li>
        <%= link_to "トップへ", root_path %>
      </li>
    <% end %>

    <%= yield %>
  </body>
</html>
